@import url('[https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap](https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap)');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos base para suavizar el scroll */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* Opcional: Estilo personalizado para la barra de desplazamiento */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f5f9;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}